@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'),
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('ttf'),
        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('ttf'),
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'test';

    src: url('../fonts/Mulish-Regular.ttf') format('ttf') url('../fonts/Mulish-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
