@font-face {
    font-family: 'M';
    src:
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'),
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
